
<div class="wrap__detail item__detail">
  <img
    src="{{product.link_image}}"
    alt=""
  />
  <div class="detail__content">
    <div class="detail__content__des">
      {{product.description}}
    </div>
    <h5 class="detail__cost">đ{{product.cost}}</h5>
    <div class="choose__number__product">
      <span>số lượng</span>
      <div>
        <span class="icon__pre">-</span>
        <span class="count__product"></span>
        <span class="icon__next">+</span>
      </div>
    </div>
    <div class="button__detail">
      <button class="button__add__cart">Add to cart</button>
      <button class="button__buy__now">Buy now</button>
    </div>
  </div>
</div>

<script>

    const iconPre = $('.icon__pre');
    const iconNext = $('.icon__next');
    const countProcut = $('.count__product');
    const btnAddCart = $('.button__add__cart');

    var count = 1;
    countProcut.text(count);
    iconPre.click( function() {
        count --; 
        if( count <= 0) {
            count = 1;
        }
        countProcut.text(count);
    })

    iconNext.click(function() {
        count ++;
        countProcut.text(count);
    })

    btnAddCart.click( function(e) {
        e.preventDefault();
    })


</script>
