<div class="container">
  <h1>List account</h1>
  <ul>
    {{#each user}}
    <br>
    <li>
        username : {{this.username}} ,
        <br>
        password : {{this.password}} ,
        <br>
        admin: {{this.admin}}
    </li>
    {{/each}}
  </ul>
</div><form>