@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");

body {
  overflow: auto;
}
:root {
  --height_header: 80px;
  --primary_color: #1c64ec;
  --search__color: #35363a;
  --background__btn: #2a2e38;
  --coins__color: #fb5331;
}

body {
  background-color: #202124;
  width: 100%;
  overflow-x: hidden;
}

.container {
  padding-left: 48px;
  padding-right: 48px;
  width: calc(100% - 48 * 2) px !important;
}
/*  css header  */
.header {
  display: flex;
  justify-content: space-between;
  /* width: calc(100% - 24 * 2) px; */
  border-bottom: 0.3px solid #ccc;
  height: var(--height_header);
  align-items: center;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 10000;
  background-color: #202124;
}
.header__util {
  display: flex;
  min-width: 50%;
  align-items: center;
}
.header__util .name__shop {
  color: var(--primary_color);
  font-size: 24px;
  font-weight: 600;
}
.header__search {
  min-width: 400px;
  width: 70%;
  background-color: var(--search__color);
  border-radius: 12px;
  padding: 8px 20px;
  margin: 24px;
  position: relative;
}
.header__search input {
  width: 100%;
  padding: 2px 12px;
  background-color: var(--search__color);
  border: none;
  outline: none;
  z-index: 10000;
  color: var(--primary_color);
  transition: all 0.3s linear;
  margin-left: 12px;
  font-size: 18px;
}
.header__search input::placeholder + .search__nav {
  display: none;
}
.header__search .icon__search {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: #fff;
  font-size: 18px;
}

.header__info {
  display: flex;
  text-align: center;
}
.header__info img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.header__wallet {
  display: flex;
  align-items: center;
  background-color: var(--background__btn);
  padding: 12px;
  border-radius: 12px;
}

.header__wallet i {
  color: var(--primary_color);
  margin: 0 12px;
}
.header__wallet h1 {
  color: #fff;
  margin: 0 2px;
}
.header__wallet span {
  margin: 0 2px;
  color: var(--coins__color);
}

.header__info {
  display: flex;
  align-items: center;
  min-width: 200px;
  width: 32%;
  justify-content: space-between;
}

.header__info i {
  padding: 12px;
  background-color: var(--background__btn);
  color: #fff;
  border-radius: 12px;
  cursor: pointer;
}
.avatar {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding-left: 12px;
  border-left: 1px solid var(--background__btn);
  cursor: pointer;
}
.avatar i {
  position: relative;
}
.avatar img {
  margin-left: 12px;
}
.menu__user {
  position: absolute;
  top: 110%;
  right: 0%;
  width: 200px;
  padding: 6px;
  border-radius: 12px;
  background-color: var(--background__btn);
  display: none;
  animation: fadeInMenu 0.3s ease-in-out;
  z-index: 1000000;
  box-shadow: 7px 9px 10px 7px #000;
}
.menu__user i {
  z-index: 1000;
}
.name__user {
  color: #fff;
  margin-left: 12px;
}
.menu__user a {
  display: flex;
  align-items: center;
  border-radius: 12px;
  z-index: 100;
}
.menu__user a:hover {
  background-color: var(--primary_color);
}

.menu__user a:hover i {
  background-color: var(--primary_color);
}
.menu__user a {
  text-decoration: none;
  color: #fff;
  width: 100%;
}
i.bx.bx-x.icon__close:hover {
  background-color: var(--primary_color);
  z-index: 100;
}
@keyframes fadeInMenu {
  from {
    opacity: 0;
    transform: translateX(100px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
/* css slider  */
.slider {
  /* height: 30%; */
  /* width: calc(100% - 24 * 2) px; */
  padding: 40px;
  background-color: var(--background__btn);
  position: relative;
  margin-top: var(--height_header);
}
.slider i {
  padding: 16px;
  background-color: var(--search__color);
  border-radius: 50%;
  color: #fff;
  font-weight: 700;
}
.icon__pre {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(40%, -50%);
  z-index: 10;
  cursor: pointer;
}
.icon__next {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(-40%, -50%);
  z-index: 10;
  cursor: pointer;
}
.slider__list {
  overflow: hidden;
  width: 100%;
  overflow: hidden;
}
.wrap__slider__list {
  display: flex;
  animation: slide 8s ease alternate-reverse infinite;
}
.slider__list img {
  width: 15%;
}
.nav__img {
  width: 150px;
  display: flex;
  justify-content: space-evenly;
  position: absolute;
  bottom: 20%;
  left: 50%;
  transform: translateX(-50%);
}
.nav__img div {
  width: 10px;
  height: 10px;
  border-radius: 12px;
  background-color: #3f3f43;
}

@keyframes slide {
  20% {
    transform: translateX(0%);
  }
  30% {
    transform: translateX(-10%);
  }
  50% {
    transform: translateX(-20%);
  }
  60% {
    transform: translateX(-30%);
  }
  80% {
    transform: translateX(-50%);
  }
  100% {
    transform: translateX(-60%);
  }
}
/* content */
.content__navigation {
  height: var(--height_header);
  width: 100%;
  margin-top: 24px;
}
.content__navigation ul {
  display: flex;
  justify-content: space-around;
  padding-bottom: 6px;
  border-bottom: 0.2px solid #ccc;
}
.content__navigation ul li {
  color: #ccc;
  min-width: 100px;
  width: 100px;
  position: relative;
  cursor: pointer;
  text-align: center;
}
.content__navigation ul .active_nav::after {
  content: "";
  position: absolute;
  right: 0;
  bottom: -8px;
  width: 120px;
  height: 4px;
  transform: translateX(10%);
  border-radius: 12px;
  background-color: var(--primary_color);
  z-index: 1;
}
/* content  */
.content__product {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
.content__item {
  width: calc(16.66666667% - 24px);
  height: 280px;
  background-color: var(--search__color);
  border-radius: 12px;
  overflow: hidden;
  cursor: pointer;
  margin-left: 12px;
  margin-right: 12px;
  margin-bottom: 24px;
  position: relative;
}
.content__item img {
  width: 100%;
  height: 200px;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}
.content__item__info {
  display: flex;
  justify-content: space-between;
  margin: 6px;
}
.content__item__info .content__item__info__title {
  width: 50%;
  color: #fff;
  margin-left: 6px;
}
.content__item__info .content__item__info__icon {
  width: 40%;
  transform: translateX(50%);
  margin-right: 6px;
}
.content__item__info__title h5 {
  height: 18px;
  line-height: 18px;
  overflow: hidden;
}
.content__item__info .content__item__info__title p {
  display: block;
  display: -webkit-box;
  height: 12px * 1.3 * 2;
  font-size: 12px;
  line-height: 1.3;
  -webkit-line-clamp: 2; /* số dòng hiển thị */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-top: 8px;
}
.content__item__info__icon span {
  display: block;
  color: var(--coins__color);
  transform: translateX(-6px);
  font-size: 12px;
  display: block;
  width: 20px;
  min-width: 20px;
  margin-bottom: 22px;
}
.button__primary {
  border: none;
  border-radius: 6px;
  color: #fff;
  background-color: var(--primary_color);
  padding: 4px 6px;
  cursor: pointer;
}

.content__item::after {
  background: rgba(0, 0, 0, 0)
    linear-gradient(
      to right,
      rgba(255, 255, 255, 0) 0%,
      rgba(255, 255, 255, 0.3) 100%
    )
    repeat scroll 0 0;
  content: "";
  display: block;
  height: 100%;
  position: absolute;
  right: -75%;
  top: 0;
  transform: skewX(-25deg);
  width: 50%;
  z-index: 2;
}
.content__item:hover::after {
  animation: 1s ease 0s normal none 1 running fixedAnim;
  animation: 1s ease 0s normal none 1 running fixedAnim;
  -webkit-animation: 1s ease 0s normal none 1 running fixedAnim;
  -moz-animation: 1s ease 0s normal none 1 running fixedAnim;
}
@-webkit-keyframes fixedAnim {
  0% {
    right: 125%;
  }
  125% {
    right: 0;
  }
}

@-moz-keyframes fixedAnim {
  0% {
    right: 125%;
  }
  125% {
    right: 0;
  }
}

@keyframes fixedAnim {
  0% {
    right: 125%;
  }
  125% {
    right: 0;
  }
}

/*  modal css  buy product */
#wrap {
  position: relative;
}
.modal__buy__product {
  margin-top: calc(var(--height_header) + 24px);
  z-index: 100000;
  display: flex;
  flex-direction: column;
  width: 80%;
  justify-content: center;
  align-items: center;
}
.detail__buy {
  width: 70%;
  min-width: 400px;
  min-height: 500px;
  border-radius: 24px;
  display: flex;
  /* justify-content: center; */
  align-items: center;
}
.detail__buy__header {
  display: flex;
  padding: 12px;
}
.detail__buy__header i {
  color: #fff;
  font-size: 48px;
  border-radius: 24px;
  width: 50%;
}
.detail__buy__header i:hover {
  color: var(--coins__color);
}
.deatail__buy__content {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 48%;
}
.deatail__buy__content img {
  display: block;
  width: 80%;
  border-radius: 24px;
}
.deatail__buy__content img:hover {
  -webkit-box-shadow: 5px 5px 15px 5px #000000;
  box-shadow: 5px 5px 15px 5px #000000;
  transition: all 0.4s linear;
  cursor: pointer;
}

.detail__buy__info {
  width: 48%;
}
.detail__buy__info .detail__buy__info__name {
  color: #ccc;
  line-height: 24px;
  margin: 50px 0;
}
.detail__buy__info__name h1 {
  font-size: 24px;
}
.detail__buy__info__name p {
  font-size: 16px;
  margin-top: 12px;
  height: 32px;
  overflow: hidden;
  text-overflow: ellipsis;
}
.detail__buy__icon i {
  margin-top: 24px;
  color: yellow;
}
.detail__buy__icon {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 50px;
}
.detail__buy__icon h1 {
  font-size: 24px;
  color: #fff;
  font-weight: 600;
}
.detail__buy__control {
  margin-top: 24px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.button__detail__buy {
  padding: 12px;
  width: 38%;
  border-radius: 12px;
  border: none;
  background-color: var(--primary_color);
  color: #fff;
  font-size: 18px;
}
.button__detail__buy:hover {
  cursor: pointer;
  background-color: #034ed8;
}

.button__detail__add {
  background-color: #ccc;
  border: 12px;
  width: 56%;
  display: flex;
  justify-content: center;
  border-radius: 12px;
  border: 1px solid var(--coins__color);
  align-items: center;
}
.button__detail__add .bx-cart-add {
  font-size: 24px;
  margin-right: 12px;
}
.button__detail__add:hover {
  background-color: var(--coins__color);
  color: #fff;
  cursor: pointer;
}
.button__detail__add:hover > button {
  color: #fff;
}
.button__detail__add button {
  border: none;
  background-color: transparent;
  color: var(--coins__color);
  font-size: 18px;
}

.detail__buy__count {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 12px 0;
  color: #ccc;
}

.detail__buy__count .control {
  border: 1px solid var(--coins__color);
  width: 50%;
  display: flex;
  justify-content: space-around;
}
.detail__cost {
  color: yellow;
  font-size: 12px;
}
.detail__buy__count .control span {
  padding: 6px 0;
}
.detail__buy__count .control span:last-child {
  display: block;
  padding-left: 24px;
  border-left: 1px solid var(--coins__color);
  cursor: pointer;
}

.detail__buy__count .control span:first-child {
  display: block;
  padding-right: 24px;
  cursor: pointer;

  border-right: 1px solid var(--coins__color);
}

.wrap__store {
  border-radius: 24px;
  display: flex;
  justify-content: space-between;
  margin-top: 150px;
}
.list__product {
  width: 68%;
}
.list__product__header {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 24px;
  -webkit-box-shadow: 5px 5px 15px 5px #000000;
  box-shadow: 5px 5px 15px 5px #000000;
  color: #fff;
}
.list__product__header li:hover {
  color: var(--coins__color);
}
.list__product__header > ul {
  display: flex;
  justify-content: space-around;
  cursor: pointer;
}
.list__product__header > ul > li {
  padding: 12px;
  font-size: 16px;
}
.list__product__header__detail {
  width: 26%;
  border-radius: 24px;
  padding: 24px;
  z-index: 1000;
  -webkit-box-shadow: 5px 5px 15px 5px #000000;
  box-shadow: 5px 5px 15px 5px #000000;
  height: 300px;
}
.list__product__header__detail h1 {
  color: #fff;
  font-size: 24px;
  border-bottom: 1px solid var(--coins__color);
  margin-bottom: 12px;
  padding-bottom: 12px;
}
.list__product__header__detail ul li {
  font-size: 16px;
  color: #fff;
  padding: 12px;
  border-bottom: 1px solid #ccc;
  display: flex;
  justify-content: space-between;
}
.list__product__header__detail h5 {
  color: var(--primary_color);
  font-size: 24px;
  margin: 12px 0;
  display: flex;
  justify-content: space-between;
}
.list__product__header__detail__pay {
  background-color: #113366;
  border: none;
  padding: 12px 24px;
  width: 100%;
  border-radius: 24px;
  color: #fff;
}
.list__product__header__detail__pay:hover {
  cursor: pointer;
  background-color: var(--coins__color);
}
.list__product__info {
  height: 60vh;
  width: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
}
.list__product__info::-webkit-scrollbar {
  display: none;
}
.list__product__info__item {
  margin: 30px 0 60px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  background-color: var(--background__btn);
  border-radius: 24px;
  padding: 8px;
  color: #fff;
}
.list__product__info__item img {
  border-radius: 24px;
  width: 70px;
  height: 70px;
}
.icon__remove__my_product,
.icon__remove {
  position: absolute;
  top: 50%;
  left: -30px;
  transform: translateY(-50%);
  padding: 4px;
  background-color: var(--primary_color);
  border-radius: 12px;
}
.list__product__info__item__amount {
  width: 20%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  transform: translateX(10%);
}
.list__product__info__item__amount span:last-child:hover,
.list__product__info__item__amount span:first-child:hover {
  background-color: var(--coins__color);
}
.list__product__info__item__amount span:last-child,
.list__product__info__item__amount span:first-child {
  padding: 10px;
  border-radius: 50%;
  background-color: #034ed8;
  cursor: pointer;
}
.list__product__info__item__cost {
  width: 20%;
  transform: translateX(40%);
}

.list__product__info__item__name {
  width: 20%;
  transform: translateX(20%);
}
.list__product__info__item__img {
  width: 20%;
  transform: translateX(30%);
  cursor: pointer;
}

.title__my__cart {
  font-size: 32px;
  font-weight: 600;
  color: #fff;
}

.icon__trash {
  color: #fff;
  font-size: 24px;
}
.icon__trash span {
  color: var(--primary_color);
}
.icon__trash:hover {
  color: var(--coins__color);
  cursor: pointer;
}

.info__product div {
  justify-content: space-between;
  margin-top: 20px;
  background-color: var(--background__btn);
  padding: 24px;
  border-radius: 24px;
  color: #fff;
}
.user {
  color: #fff;
  margin: 12px;
  padding: 12px;
}
.list__users {
  justify-content: center;
}

.user__name {
  margin: 12px;
  width: 100%;
}
.user__amdin {
  margin: 0 12px;
  margin-bottom: 12px;
  color: var(--coins__color);
}
.btn__change__password,
.btn__delete__account {
  width: 100%;
  border-radius: 24px;
  border: none;
  margin: 12px 0;
  padding: 12px;
  color: #fff;
}
.btn__change__password {
  background-color: var(--coins__color);
}
.btn__delete__account {
  background-color: var(--primary_color);
}

.btn__change__password:hover {
  background-color: var(--primary_color);
}
.btn__delete__account:hover {
  background-color: red;
}
.info__shop {
  display: flex;
  background-color: var(--background__btn);
  width: 70%;
  padding: 24px;
  border-radius: 24px;
}
.avatar__shop {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.content__shop {
  display: flex;
  align-self: center;
  width: 50%;
  margin-left: 12px;
  justify-content: space-between;
  color: #fff;
}
.content__shop div {
  width: 30%;
  border-radius: 24px;
  height: 24px;
  background-color: var(--coins__color);
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: #fff;
  cursor: pointer;
}
.content__shop div:hover {
  background-color: var(--primary_color);
}
.box__comment {
  position: absolute;
  top: 10%;
  right: 4%;
  width: 20%;
  height: 540px;
  /* overflow-y: scroll; */
  border-radius: 24px;
  background-color: rgba(0, 0, 0, 0.5);
}

.icon__box__comment {
  color: #fff;
  font-size: 32px;
  padding: 12px;
  border-bottom: 1px solid #ccc;
}
.input__comment {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  padding: 12px;
  border-top: 1px solid #ccc;
  background-color: var(--background__btn);
  border-radius: 24px;
  color: #fff;
}
.input__comment input {
  width: 100%;
  border: none;
  outline: none;
  background-color: transparent;
  color: #fff;
}
.input__comment i {
  position: absolute;
  right: 3%;
  top: 50%;
  transform: translateY(-50%);
  font-size: 26px;
}

.list__comment {
  display: flex;
  color: #fff;
  justify-content: space-around;
  padding: 12px;
  align-items: center;
}
.content__comment {
  width: 60%;
  display: flex;
  flex-direction: column;
}
.content__comment span:nth-child(1) {
  font-size: 16px;
}
.content__comment span:nth-child(2) {
  font-size: 10px;
  color: #ccc;
  margin-top: 4px;
}

.modal__nofitication {
  width: 400px;
  height: 50px;
  background-color: rgba(0, 0, 0, 0.8);
  color: var(--coins__color);
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 6px;
  position: absolute;
  top: 100px;
  right: 10px;
  animation: fadeInNofication 0.5s ease-in-out;
  z-index: 100000000;
}
.modal__nofitication::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0px;
  height: 4px;
  width: 0;
  background-color: green;
  border-radius: 6px;
  animation: runNavNafication 2s linear;
}
.modal__nofitication i:first-child {
  color: green;
  font-weight: 600;
  font-size: 24px;
}
.modal__nofitication i:last-child {
  cursor: pointer;
  font-size: 24px;
  color: red;
}

@keyframes fadeInNofication {
  from {
    opacity: 0;
    right: -100px;
  }
  to {
    opacity: 1;
    right: 10px;
  }
}

@keyframes runNavNafication {
  from {
    width: 100%;
  }
  to {
    width: 0%;
  }
}

.wrap__ordered img {
  width: 50px;
  border-radius: 12px;
}
.list_ordered {
  background-color: var(--search__color);
  padding: 24px;
  border-radius: 24px;
  color: #fff;
}
.info__ordered {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 24px;
}
.info__ordered > span {
  width: 150px;
  line-height: 24px;
}
.button__cancel_order {
  background-color: var(--coins__color);
  padding: 12px 24px;
  border-radius: 24px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}

.button__cancel_order:hover {
  background-color: green;
}
.button__cancel_order:hover .icon__cancle {
  color: #fff;
}
.icon__cancle {
  color: red;
  font-weight: 600;
  font-size: 24px;
  margin-left: 12px;
}
.modi__ordered {
  display: flex;
  justify-content: space-evenly;
  width: 25%;
  position: relative;
}
.modi__ordered::after {
  content: "";
  position: absolute;
  bottom: -20px;
  left: 10%;
  right: 0;
  width: 0;
  height: 4px;
  background-color: var(--primary_color);
  border-radius: 24px;
  animation: fadeInOrdered 1s ease-in-out infinite;
}

@keyframes fadeInOrdered {
  0% {
    opacity: 0;
    width: 0;
  }
  50% {
    pacity: 0.5;
    width: 40%;
  }
  100% {
    pacity: 1;
    width: 80%;
  }
}
.wrapp__cart {
  position: relative;
}
.amount__cart__user {
  position: absolute;
  top: -20%;
  right: -10%;
  background-color: var(--coins__color);
  color: #fff;
  padding: 4px 8px;
  border-radius: 50%;
  width: 14px;
  height: 14px;
}
.thumbnail___item {
  width: 50px;
  height: 50px;
  border-radius: 12px;
}
.title__item__ordered {
  position: relative;
}

.title__item__ordered:hover {
  color: var(--coins__color);
  cursor: pointer;
}
.title__item__ordered::after {
  content: "";
  position: absolute;
  bottom: -10px;
  width: 180px;
  left: 0;
  height: 2px;
  background-color: var(--primary_color);
  animation: fadeInTitle 0.4s linear;
  display: none;
}
.title__item__ordered:hover::after {
  display: block;
}

@keyframes fadeInTitle {
  from {
    opacity: 0;
    width: 0;
  }
  to {
    opacity: 1;
    width: 180px;
  }
}

.list__item {
  padding: 24px;
  background-color: #3f3f43;
  border-radius: 12px;
}

.item__recieved {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 90%;
  margin: auto;
  color: var(--coins__color);
  border-radius: 12px;
  padding: 12px 0;
}
.item__recieved h5 {
  min-width: 300px;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 300px;
}
.item__ordered:hover {
  background-color: var(--search__color);
}
.item__ordered input {
  width: 200px;
  min-width: 100px;
  padding: 0 12px;
  background-color: rgba(0, 0, 0, 0.3);
}
.button__refuse,
.button__deliver {
  border: none;
  padding: 12px 24px;
  color: #fff;
  font-weight: 600;
  border-radius: 12px;
  cursor: pointer;
}
.button__deliver {
  background-color: var(--background__btn);
}
.button__deliver:hover {
  background-color: var(--coins__color);
}
.button__refuse {
  background-color: red;
}
.button__refuse:hover {
  background-color: var(--coins__color);
}
.nofication__recieved {
  position: relative;
}
.list__recieved {
  position: absolute;
  width: 400px;
  right: -100px;
  margin-top: 12px;
  min-width: 300px;
  background-color: var(--search__color);
  padding: 24px;
  border-radius: 24px;
  display: none;
  box-shadow: 5px 5px 15px 5px #000000;
}
.titile__order__received {
  font-size: 18px;
  color: #fff;
  font-weight: 500;
  border-bottom: 1px solid #ccc;
  padding-bottom: 12px;
}
.list__recieved .list__recieved__item {
  margin-top: 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--coins__color);
  padding: 12px;
  border-radius: 24px;
}
.list__recieved__item:hover {
  background-color: var(--background__btn);
}
.list__recieved:hover,
.bxs-bell:hover + .list__recieved {
  display: block;
  animation: fadeInMenu 0.5s ease-in-out;
}
.bxs-bell {
  position: relative;
}

.list__recieved::after {
  content: "";
  position: absolute;
  top: -30px;
  left: 69%;
  height: 20px;
  /* background-color: #000; */
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-bottom: 20px solid var(--search__color);
  /* display: none; */
}
.name__user__ordered {
  display: flex;
  flex-direction: column;
  color: #fff;
  margin-top: 28px;
  text-align: center;
}
.name__user__ordered span:first-child {
  color: #ccc;
}
.name__user__ordered span:last-child {
  color: var(--primary_color);
  margin-top: 12px;
}
