/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
body {
  -moz-user-select: none !important;
  -webkit-touch-callout: none !important;
  -webkit-user-select: none !important;
  -khtml-user-select: none !important;
  -moz-user-select: none !important;
  -ms-user-select: none !important;
  user-select: none !important;
}
a {
  text-decoration: none;
  color: #fff;
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

.show {
  display: block !important;
}

.hidden {
  display: none !important;
}

.active {
  background-color: var(--coins__color) !important;
}

.active_nav {
  color: #fff !important;
}

.mt_height {
  margin-top: var(--height_header);
}
.mt_12 {
  margin-top: 12px;
}
.mt_24 {
  margin-top: 24px;
}
.mb_24 {
  margin-bottom: 24px;
}
.mlr_100 {
  margin: 100px;
  width: calc(100% -100 * 2px);
}

.mt_100 {
  margin-top: 100px;
}

html {
  font-family: poppins;
}

.full__width {
  width: 100% !important;
}

.ml_32 {
  margin-left: 32px;
}

.row {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.space__item {
  margin: 24px;
}

.bgclor {
  background-color: var(--search__color);
  border: 24px;
  border-radius: 24px;
}

.title {
  color: #fff;
  font-size: 24px;
  font-weight: 600;
}
.btn__force__delete__modal,
.btn__close__modal,
.btn__force__delete,
.btn__restore {
  padding: 12px;
  border-radius: 24px;
  border: none;
  color: #fff;
  margin: 0 12px;
  cursor: pointer;
  min-width: 100px;
}
.btn__force__delete__modal,
.btn__force__delete {
  background-color: red;
}
.btn__close__modal,
.btn__restore {
  background-color: var(--coins__color);
}

.btn__force__delete:hover,
.btn__restore:hover {
  background-color: var(--search__color);
}
.bx-arrow-back {
  font-size: 24px;
  font-weight: 600;
  color: var(--primary_color);
}
.btn__back {
  margin-right: 50px;
  border: none;
  border-radius: 24px;
  background-color: var(--search__color);
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  cursor: pointer;
  color: var(--primary_color);
}
#modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 100000;
}
.modal__wrapper {
  background-color: var(--search__color);
  width: 50%;
  height: 150px;
  border-radius: 24px;
  cursor: pointer;
  animation: fadeInModal 0.4s ease-in-out;
}
.modal__title {
  text-align: center;
  margin: 12px;
}
.modal__content {
  color: var(--coins__color);
  margin: 24px;
}
.modal__footer {
  float: right;
}
.modal__footer {
  width: 40%;
  display: flex;
  justify-content: space-between;
}

@keyframes fadeInModal {
  from {
    opacity: 0;
    transform: translateY(-100px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.w_25 {
  width: 26%;
}
.p_24 {
  padding: 24px;
}
.right {
  float: right;
}
.flex {
  display: flex!important;
}
