#modal {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
}
.modal__wrapper {
  background-color: #ccc;
  width: 50%;
  height: 300px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  animation: fadeInModal 0.3s linear;
}
.modal__title {
  width: 100%;
  text-align: center;
  padding-top: 24px;
  border-bottom: 1px solid #000;
}
.modal__footer {
  border-top: 1px solid #000;
  width: 100%;
  float: right;
  display: flex;
  flex-direction: row-reverse;
  padding: 24px 12px;
}
.modal__footer button {
  margin: 12px;
}
.hidden {
  display: none !important;
}
@keyframes fadeInModal {
  from {
    transform: translateY(-100px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.content__cart {
  display: flex;
  padding-top: 24px;
  height: 1000px;
}
a {
  color: #fff;
}
li {
  list-style-type: none;
}

.nav__genre {
  width: 30%;
  background-color: rgba(0, 0, 0, 0.5);
  height: 100%;
}
.nav__genre li {
  padding: 12px;
  background-color: rgb(33, 121, 175);
  margin: 6px;
  border-radius: 8px;
  color: #fff;
}
.nav__genre li a {
  color: #fff;
}
.nav__genre li:hover {
  background-color: rgba(0, 0, 0, 0.5);
  cursor: pointer;
}
.list__cart {
  width: 70%;
}
.sub__item {
  width: 28%;
  margin-left: 12px;
  margin-right: 12px;
  margin-bottom: 12px;
  display: inline-block;
  background-color: aliceblue;
  cursor: pointer;
  box-shadow: 17px 8px 4px #ebebeb;
}
.sub__item:hover {
  background-color: rgba(0, 0, 0, 0.5);
}
.sub__item img {
  width: 100%;
  object-fit: contain;
}
.title__cart {
  font-size: 16px;
  padding: 8px;
  display: block;
  height: 64px;
  overflow: hidden;
  display: -webkit-box;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2; /* số dòng hiển thị */
  -webkit-box-orient: vertical;
  line-height: 30px;
}

.footer__cart {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 12px;
}
.footer__cart span {
  color: rgb(248 76 47);
}
.footer__cart button {
  border: none;
  padding: 6px 12px;
  background-color: rgb(248 76 47);
  color: #fff;
  border-radius: 12px;
  position: relative;
}
.footer__cart button::after {
  position: absolute;
  content: "";
  top: 0;
  right: 100%;
  left: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 12px 0 0 12px;
}
.footer__cart button::before {
  position: absolute;
  content: "";
  top: 0;
  right: 0;
  left: 100%;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 0 12px 12px 0;
}
.footer__cart button:hover {
  cursor: pointer;
}
.footer__cart button:hover::after {
  animation: fadeInButton 0.3s linear;
  right: 50%;
}
.footer__cart button:hover::before {
  animation: fadeInButtonbefore 0.3s linear;
  left: 50%;
}
@keyframes fadeInButton {
  from {
    right: 100%;
  }
  to {
    right: 50%;
  }
}
@keyframes fadeInButtonbefore {
  from {
    left: 100%;
  }
  to {
    left: 50%;
  }
}

.icon__carts {
  font-size: 32px;
  padding: 12px;
  color: rgb(144, 28, 28);
}
.wrap__detail {
  padding-top: 100px;
  padding: 100px 24px 24px 24px;
  justify-content: center;
  display: flex;
  background-color: rgba(0, 0, 0, 0.5);
}
.wrap__detail img {
  width: 30%;
}

.detail__content {
  background-color: #fff;
  padding: 24px;
}
.detail__content__des {
  font-size: 32px;
  height: 64;
  line-height: 32px;
  overflow: hidden;
  display: -webkit-box;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2; /* số dòng hiển thị */
  -webkit-box-orient: vertical;
  margin-bottom: 12px;
}
.detail__cost {
  font-size: 32px;
  color: rgb(179, 64, 64);
  padding-bottom: 50px;
}

.choose__number__product {
  font-size: 32px;
}
.choose__number__product div {
  border: 1px solid #ccc;
  width: 20%;
  display: flex;
  justify-content: space-around;
  margin: 24px 0;
  cursor: pointer;
}
.choose__number__product div span:nth-child(1) {
  border-right: 1px solid #ccc;
  padding-right: 24px;
}
.choose__number__product div span:nth-child(3) {
  border-left: 1px solid #ccc;
  padding-left: 24px;
}

.button__add__cart {
  padding: 8px 26px;
  border: 1px solid rgb(173, 43, 43);
  background-color: rgb(208, 139, 139);
  color: #fff;
  font-size: 24px;
  cursor: pointer;
  border-radius: 12px;
}
.button__buy__now:hover,
.button__add__cart:hover {
  opacity: 0.6;
}
.button__buy__now {
  padding: 8px 12px;
  border: none;
  background-color: #ee4d2d;
  color: #fff;
  font-size: 24px;
  cursor: pointer;
  margin-left: 24px;
  border-radius: 12px;
}
.wrap__cart__store {
  display: flex;
  justify-content: space-between;
  margin: 10px 5%;
  padding: 12px;
  transform: translatey(20px);
  align-items: center;
  background-color: antiquewhite;
  border-radius: 12px;
}
.wrap__store {
  background-color: rgba(0, 0, 0, 0.5);
  height: 100%;
}
.wrap__store img {
  width: 100px;
  border-radius: 12px;
  margin-right: 12px;
}
.wrap__cart__store h5 {
  font-size: 24px;
  line-height: 24px;
  width: 30%;
  height: 50px;
  overflow: hidden;
  text-overflow: ellipsis;
}
.type__cart {
  width: 10%;
  color: rgba(0, 0, 0, 0.5);
}
.wrap__cart__store .cost {
  color: #ee4d2d;
}
.nav__count {
  margin: 0 10px;
  padding: 6px 6px;
  border: 1px solid #ccc;
  overflow: hidden;
}
.nav__count span {
  padding: 6px;
}
.nav__count span:nth-child(1) {
  border-right: 1px solid #ccc;
}
.nav__count span:nth-child(3) {
  border-left: 1px solid #ccc;
}

.option__cart button {
  padding: 12px 12px;
  min-width: 100px;
  border-radius: 12px;
  border: none;
  font-weight: 700;
}
.option__cart button:hover {
  opacity: 0.6;
  cursor: pointer;
}
.option__cart button:first-child {
  background-color: red;
  color: #fff;
}
.option__cart button:last-child {
  background-color: #ee4d2d;
  color: #fff;
}
.btn__change__password,
.btn__delete__account {
  margin: 24px 24px 24px 0;
  padding: 12px;
  border: none;
  border-radius: 12px;
  min-width: 200px;
}
.btn__change__password {
  background-color: #475cd3;
  color: #fff;
}

.btn__delete__account {
  background-color: #ee4d2d;
  color: #fff;
}

.btn__header__change__pass {
  border: none;
  padding: 2px;
  margin-left: 12px;
  border-radius: 12px;
  background-color: rgb(33, 121, 175);
  color: #fff;
  cursor: pointer;
}
.btn__header__change__pass:hover {
  background-color: #475cd3;
}
.avatar {
  height: 50px;
  width: 50px;
  border-radius: 50%;
}
.full__width {
  width: 100% !important;
}
.input__search {
  width: 70%;
  border: none;
  padding: 12px;
  border: 0.5px solid #ccc;
}
.form__search {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
