<div class="wrap__footer mt_100 container">
  <div class="footer__detail__info">
    <div>
      <i class="bx bx-envelope"></i>
      <span>Subscribe to receive news and updates.</span>
    </div>
    <div>
      <i class="bx bx-message-rounded-add"></i>
      <span>Get all information about promotion</span>
    </div>
    <div>
      <input type="text" placeholder="Enter email???" />
      <button class="button__regester">Register</button>
    </div>
  </div>

  <div class="footer__content">
    <div>
      <h1>Customer support</h1>
      <ul class="sub__footer__content">
        <li>Preferential card</li>
        <li>Counseling center</li>
        <li>Payment and delivery</li>
        <li>Repair and maintenance</li>
        <li>Friendly shop</li>
      </ul>
    </div>
    <div>
      <h1>Purchase Policy</h1>
      <ul class="sub__footer__content">
        <li>General rules</li>
        <li>Privacy and Information Policy</li>
        <li>Shipping Policy</li>
        <li>Warranty Policy</li>
        <li>Installment Policy</li>
      </ul>
    </div>
    <div>
      <h1>Webshop details</h1>
      <ul class="sub__footer__content">
        <li>Introduction</li>
        <li>Contact infomation</li>
        <li>Recruit </li>
        <li>Q&A</li>
      </ul>
    </div>
    <div>
      <h1>infomation web</h1>
      <ul class="sub__footer__content">
        <li>Lâm Văn Bền, Phường Tân Kiểng, Quận 7, TP Hồ Chí Minh</li>
        <li>Hotline: 1234557623</li>
        <li class="info__author">
          <span>
            author :
          </span>
          <a href="https://www.facebook.com/profile.php?id=100037828690010"><i
              class="bx bxl-facebook"
            ></i></a></li>

      </ul>
    </div>

  </div>
</div>