<div class="wrap__form mt_height">
  <form
    id="form__register__validate"
    class="form__create form__login"
    method="POST"
    action="/user/account/change_pass/{{user._id}}?_method=PUT"
  >
    <h1 class="title__form">Update Password</h1>
    <div>
      <input
        class="input__form"
        type="text"
        name="username"
        placeholder=""
        rules="required"
      />
      <span class="show__validation hidden error"></span>
      <div class="icon__form">
        <i class="bx bx-user"></i>
        <label for="username">User name</label>
      </div>
    </div>
    <div>
      <input
        class="input__form"
        type="password"
        name="password"
        placeholder=""
        rules="required|min:6"
      />
      <span class="show__validation hidden error"></span>
      <div class="icon__form">
        <i class="bx bx-lock-alt"></i>
        <label for="password">Enter password</label>
      </div>
      <div class="icon__pass">
        <i class="fa-regular fa-eye show__pass"></i>
        <i class="fa-regular fa-eye-slash hidden__pass"></i>
      </div>
    </div>

    <div>
      <input
        class="input__form"
        type="password"
        name="newpassword"
        placeholder=""
        rules="required|min:6"
      />
      <span class="show__validation hidden error"></span>
      <div class="icon__form">
        <i class="bx bx-lock-alt"></i>
        <label for="newpassword">Enter new password</label>
      </div>
      <div class="icon__pass">
        <i class="fa-regular fa-eye show__pass"></i>
        <i class="fa-regular fa-eye-slash hidden__pass"></i>
      </div>
    </div>
    <div>
      <input
        class="input__form"
        type="password"
        name="confirmpassword"
        placeholder=""
        rules="required|min:6"
      />
      <span class="show__validation hidden error"></span>
      <div class="icon__form">
        <i class="bx bx-lock-alt"></i>
        <label for="confirmpassword">Confirm password</label>
      </div>
      <div class="icon__pass">
        <i class="fa-regular fa-eye show__pass"></i>
        <i class="fa-regular fa-eye-slash hidden__pass"></i>
      </div>
    </div>

    <button type="submit " class="button__primary button__form__submit">
      Submit
    </button>
  </form>
</div>