<div class="container mt-4">
  <h3>Change Password</h3>

  <form
    method="POST"
    action="/user/account/change_pass/{{user._id}}?_method=PUT"
  >
    <div class="form-group">
      <label for="password">Password old</label>
      <input type="text" class="form-control" id="name" name="password" />
    </div>
    <div class="form-group">
      <label for="newpassword">Password new</label>
      <input type="text" class="form-control" id="name" name="newpassword" />
    </div>
    <div class="form-group">
      <label for="confirmpassword">Confirm New Password</label>
      <input
        type="text"
        class="form-control"
        id="name"
        name="confirmpassword"
      />
    </div>
    <button type="submit" class="btn btn-primary">Save</button>
  </form>
</div>