<div class="container mt_100">
  <h1 class="title">List account</h1>
  <ul class="row list__users">
    {{#each user}}
    <br>
    <li class="w_25 space__item bgclor user">
        <h5 class="user__name">Username : {{this.username}}  </h5>
        <br>
        <h6 class="user__amdin"> Admin: {{this.admin}}</h6>
        <div>
          <button class="btn__change__password" data-id="{{this._id}}">Change Password</button>
          <button class="btn__delete__account" data-id="{{this._id}}">Delete</button> 
        </div>
        <br>
    </li>
    {{/each}}
  </ul>
</div>

<form class="form__change__password" method="GET"></form>
<form class="form__delete__account" method="POST"></form>
<script>
  const btnDeleteAccount = $('.btn__delete__account');
  const btnChangePassword = $('.btn__change__password');
  const formDeleteAccount = $('.form__delete__account');
  const formChangePassword = $('.form__change__password');
  btnDeleteAccount.click( function() {
    const dataID = $(this).attr('data-id');
    formDeleteAccount.attr("action", `/user/account/delete/${dataID}?_method=DELETE`);
    formDeleteAccount.submit();
  })

  btnChangePassword.click( function() {
    const dataID = $(this).attr('data-id');
    formChangePassword.attr("action", `/user/account/edit/${dataID}`);
    formChangePassword.submit();
  });
</script>